<div class="countent">
  <Navbar [icon]="icon" [rightContent]="rightContent" [mode]="'light'" (onLeftClick)="onBack()">
    产品详情
  </Navbar>
  <Carousel *ngIf="data.banner&&data.banner.length" [infinite]="true" [vertical]="false" [selectedIndex]="1">
    <CarouselSlide *ngFor="let item of data.banner">
      <div style="display: inline-block; width: 100%;" [ngStyle]="{ height: imgHeight }">
        <img src="{{item}}" style=" pointer-events: none; width: 100%" />
      </div>
    </CarouselSlide>
  </Carousel>
  <div class="info">
    <div class="title">{{data.name}}</div>
    <WhiteSpace [size]="'lg'"></WhiteSpace>
    <Flex [align]="end">
      <FlexItem>
        <div class="price">
          <div class="rmbsymbol">¥</div>
          {{!!data.unifiedPrice && data.unifiedPrice.toFixed(2)}}
          <div class="original">
            {{!!data.originalPrice && data.originalPrice.toFixed(2)}}
          </div>
        </div>
      </FlexItem>
      <FlexItem>
        <div class="quantity">库存：{{data.quantity}}</div>
      </FlexItem>
    </Flex>
  </div>
  <div class="introduce" [innerHTML]="data.content"></div>
  <div *ngIf="data.quantity>0;else soldOut" class="operation">
    <div class="shoppingCartBtn">加入购物车</div>
    <div class="buyBtn" (click)="onSubmit()">
      立即购买
    </div>
  </div>
  <ng-template #soldOut>
    <div class="operation">
      <div class="buyBtnDisable">已售罄</div>
    </div>
  </ng-template>
</div>

<ng-template #icon>
  <Icon [type]="'left'"></Icon>
</ng-template>
