<div class="content">
  <div class="logo">GDB Mall</div>
  <List>
    <InputItem clear key="userName" placeholder="test" [content]="'账号'" (onChange)="onUserNameChange($event)">
    </InputItem>
    <InputItem lear key="password" type="password" placeholder="123456" [content]="'密码'" (onChange)="
      onPasswordChange($event)"> </InputItem>
  </List>
  <div class="operation">
    <div *ngIf="(!userName||!password);else preSubmit" Button [type]="primary" class="submitBtn" [disabled]="true">
      立即登录
    </div>
    <ng-template #preSubmit>
      <div Button [type]="primary" class="submitBtn" (click)="onShubmit()">
        立即登录
      </div>
    </ng-template>
    <p class="submitTips">
      登录/注册即表示同意
      <a class="submitTipsLink" href="/login">
        《用户注册协议》
      </a>
    </p>
  </div>
</div>
