<TabBar [hidden]="hidden" [barTintColor]="'white'" [tintColor]="tintColor" [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex" [unselectedTintColor]="unselectedTintColor" [tabBarPosition]="topFlag ? 'top' : 'bottom'"
  (onPress)="tabBarTabOnPress($event)">
  <TabBarItem [title]="'首页'" [key]="1" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <div
        style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <ng-template #icon22>
      <div
        style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </ng-container>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'我的'" [key]="2" [icon]="icon3" [selectedIcon]="icon33">
    <ng-template #icon3>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/psUFoAMjkCcjqtUCNPxB.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <ng-template #icon33>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/IIRLrXXrFAhXVdhMWgUI.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </ng-container>
    </div>
  </TabBarItem>
</TabBar>
<ng-template #content>
  <router-outlet></router-outlet>
</ng-template>
